
.capybara1{
    margin-left: 0px;
}
.capybara1:hover{
    animation-name: naved;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-timing-function:linear;
}

.capybara1:active{
    width: 300px;
    height: 300px;
    z-index: 3;
}
.capybara2{
    margin-left: 50px;
}
.capybara2:hover{
    animation-name: naved;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-timing-function:linear;
}
.capybara2:active{
    width: 300px;
    height: 300px;
    z-index: 3;
}
.capybara3{
    margin-left: 50px;
    animation-name: runn;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-timing-function:linear;
}
.capybara3:active{
    width: 300px;
    height: 300px;
    z-index: 3;
}
@keyframes naved{
    0%{
        z-index:3;
        transform: rotate(0deg);
    }
    100%{
        z-index:3;
        transform: rotate(359deg);
    }
}
@keyframes runn{
    0%{
        margin-left: 50px;
    }
    50%{
        margin-left: 250px;
    }
    100%{
        margin-left: 50px;
    }
}




.left{
    margin-right: 50%;
}

.right{
    margin-left: 50%;
}

table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 1000;
    background-color: rgb(240, 214, 137);
    border-radius: 10px;
}

.A{
    background-image:url("fon.jpg");
    
}
.B{
    background-image:url("fon_1.avif");
}

#i1{
    text-align: center;
}

form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 1000;
    background-color: rgb(240, 214, 137);
    border-radius: 10px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 1000;
    background-color: rgb(240, 214, 137);
    border-radius: 10px;
}

ul{
    background-color: rgb(240, 214, 137);
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 1000;
}
h1{
    background-color: rgb(240, 214, 137);
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 1000;
}
div{
    background-color: rgb(240, 214, 137);
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 1000;
}

.yellow{
    background-color: rgb(240, 214, 137);
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 1000;
}

.blue{
    background-color: aqua;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 1000;
}

li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    list-style: none;
}

.menu li{
    display: inline-block;
}

.pod_menu{
    position: absolute;
    display: none;
}

li a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color: (240, 214, 137);
    border:dashed 3px rgb(221, 143, 0);
    border-radius: 20px;
    margin-bottom: 5px;
}

li:hover ul {
    display: inline-block;
    margin-top: 56px;
    margin-left: -150px;
}
